 /*Css gradientes: https://cssgradient.io/ */
 body {
     background: linear-gradient(90deg, rgba(152, 69, 244, 1) 10%, rgba(69, 69, 207, 1) 48%, rgba(16, 152, 180, 1) 100%);
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 h1 {
     font-family: "Rubik Gemstones", system-ui;
     font-size: 32px;
     text-align: center;
     --bs-card-cap-color: #505050;
 }

 .card {
     --bs-card-bg: #CEF683;
 }

 .input-group-text {
     font-family: "Space Mono", monospace;
     --bs-tertiary-bg: #77d8fb;
     font-size: 20px;
 }

 .form-control {
     font-family: "Space Mono", monospace;
     --bs-body-bg: #b0eaffcd;
 }

 #todoslosdatos {
     padding: 2rem 0 2rem;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     column-gap: 20px;
     row-gap: 20px;
 }

 #todoslosdatos .card {
     --bs-card-bg: #ADE7F5;
     width: 19rem;
     margin: 0 auto;
 }

 .nombre {
     font-family: "Rubik Gemstones", system-ui;
     font-size: 20px;
     text-align: center;
 }

 .genero,
 .especie {
     font-family: "Space Mono", monospace;
     font-size: 20px;
     text-align: center;
 }

 .idCard {
     font-family: "Rubik Gemstones", system-ui;
     font-size: 20px;
     text-align: center;
     background-color: #B2ADF5;
     border-radius: 9px;
 }

 .siguiente,
 .atras {
     font-family: "Rubik Gemstones", system-ui;
     font-size: 20px;
     text-align: center;
     background-color: #c441c8;
     color: #fff;
     border-radius: 9px;
 }

 .siguiente:hover,
 .atras:hover {
     background-color: #F69F83;
     color: #CEF683;
     transition: all 0.5s;
 }

 #botonesPaginacion {
     display: none;
 }

 .busqueda {
     grid-column: 2;
 }

 .avisodeprivacidad {
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 12px;
     background-color: #1b2c38;
     color: #fff;
 }

 .avisodeprivacidad p {
     color: #fff;
     font-family: "Space Mono", monospace;
 }

 @media (max-width: 980px) {
     .container-md {
         max-width: 760px;
     }

     h1 {
         font-family: "Rubik Gemstones", system-ui;
         font-size: 20px;
         text-align: center;
         --bs-card-cap-color: #505050;
     }

     .input-group {
         flex-direction: column;
     }

     .input-group>.form-control,
     .input-group>.form-floating,
     .input-group>.form-select {
         width: 100%;
     }

     #todoslosdatos {
         grid-template-columns: repeat(2, 1fr);
         column-gap: 10px;
         row-gap: 10px;
     }

     .busqueda {
         grid-column: 1;
     }
 }

 @media (max-width: 767px) {
     h1 {
         font-family: "Rubik Gemstones", system-ui;
         font-size: 20px;
         text-align: center;
         --bs-card-cap-color: #505050;
     }

     #todoslosdatos .card {
         --bs-card-bg: #ADE7F5;
         width: 16rem;
         margin: 0 auto;
     }

     #todoslosdatos {
         grid-template-columns: repeat(1, 1fr);
         column-gap: 10px;
         row-gap: 10px;
     }

     .busqueda {
         grid-column: 1;
     }

     #botonesPaginacion {
         margin: 0 auto;
     }
 }